// Main colors
$color-purple-100: #F3E7F8;
$color-purple-150: #F8E9FF;
$color-purple-200: #F3DDFE;
$color-purple-300: #E7CCF4;
$color-purple-400: #D3C4DA;
$color-purple-500: #D4BBE0;
$color-purple-600: #CBA6DD;
$color-purple-700: #452356;
$color-purple-800: #3B2645;
$color-purple-900: #271932;
$color-purple-950: #22152a;
$color-purple-980: rgb(21, 12, 26);

$color-black: #000000;
$color-white: #ffffff;

$color-gray-100: #f7fafc;
$color-gray-200: #edf2f7;
$color-gray-300: #e2e8f0;
$color-gray-400: #cbd5e0;
$color-gray-500: #a0aec0;
$color-gray-600: #718096;
$color-gray-700: #4a5568;
$color-gray-800: #2d3748;
$color-gray-900: #1a202c;


//Base Colors
$primary-color: #3490dc;
$secondary-color: #ffed4a;
$page-bg-color: $color-purple-900;

//Fonts
$font-body: -apple-system, BlinkMacSystemFont, 'Inter-Regular', Helvetica, Arial, sans-serif; 


