.spotlight_wrap {

    .featured_thumbnail {
        width: 330px;
        height: 220px;
        position: relative;

        img {
            border-radius: 1rem;
            border: 3px solid $color-purple-600;
        }
    }
}