.listing_blog_card {
    border-radius: 1rem;
    border: 2px solid $color-purple-600;
    background-color: $color-purple-950;

    &:hover {
        background-color: $color-purple-980 !important;
        border: 2px solid $color-purple-500;
      }
}

.project_card {
    background-color: $color-purple-900;
    &:hover {
        background-color: $color-purple-900 !important;
      }
}