.contact_description {
    font-family: 'Inter-Regular', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    line-height: normal;
    color: $color-purple-100;
    padding: 0.8rem 0;
}